body{
background-color:#150A19;
display:block;
margin:0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: large;
background-image: url('images/sparkle_overlay.jpg');
background-size:contain;
transition: .3s;


}

.contentframe{
padding: 60px;
padding-bottom:25px;
padding-top: 0px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
left:0;
right:0;
pointer-events: none;
margin: auto;
content-visibility: auto;
position: relative;
width: auto;
min-width:200px;
max-width:788px;
pointer-events: all;


}


.contentcard{

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;
max-width:724px;
width:auto;
height:auto;
margin:auto;
margin-top:20px;
border:solid 5px #514059;
}

@media screen and (max-width:1100px) {
.contentcard{
width:70%;
  
}
}

.hometop{

    width: 320px;
    height:425px;
    max-height:425px;
    margin:auto;
    margin-top:20px;
    --line-w-inner: 2px ;
	--line-w-outer: 4px ;
	border: solid 3px transparent;
	box-shadow: 0 0 0 var(--line-w-outer)#514059 , inset 0 0 0 var(--line-w-inner) #514059; 
}
.homebottom{
    width:320px;
    height:130px;
    min-height:130px;
    margin:auto;
    margin-top:20px;
    --line-w-inner: 2px ;
	--line-w-outer: 4px ;
	border: solid 3px transparent;
	box-shadow: 0 0 0 var(--line-w-outer)#514059 , inset 0 0 0 var(--line-w-inner) #514059;
}


  @media screen and (max-width:788px) {
.homebottom,.hometop{
height:auto;
max-height:500px;
width:60%;  
font-size: 1rem;;
}
}

container{
padding: 25px;
background-color:#f0ecf0;
display: flex;
position: relative;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
height: auto;
width: auto;
margin: auto;
border-radius: 10px;
}


#navcontainer{
width:auto;
min-width:304px;
height:283px;
display:block;
top:0;
position:relative;
margin:0;
z-index:5;

}



#navbar{
width:auto;
max-width: 788px;

height:200px;
display:flex;

gap: 10px;
position:relative;

left:0;
right:0;
margin-left:auto;
margin-right:auto;
justify-self: center;
top:0;
transition: 1s;

}



#banner{
    position:absolute;
    display: block;
    width:40%;
    min-width:150px;
    left:0;
    right:0;
    height:150px;
    top:30px;
    margin: auto;
    z-index:8;
    transition: .3s;
    border-radius:100%;
    filter:contrast(120%);
}



#pagesection1, #pagesection2{
    min-width:150px;
    width:auto;
    margin: auto;
    display:flex;
    flex-direction: row;
    top:0;
    gap:10px;
    transition:1s;
}


.openpage{
    margin-top:20px;
    filter: saturate(150%);
}

@media screen and (max-width:650px) {
.openpage{
margin-top:auto;
  
}
}

#navframe{ 

z-index:10;
top: -19px;
left:0;
right:0;
margin-top:0px;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
position: fixed;
height: auto;
width:100%;
pointer-events: none;
transition: 1s;
filter:contrast(130%);

}

@media screen and (max-width:720px) {
#navframe{
top:20px;


}
}
@media screen and (max-width:720px) {
#navbar{
width:70%;

}
}

#footer{
background-color:#514059;
color:#EDE4D0;
position:relative;
padding-top:25px;
padding-bottom:30px;
padding-left:20px;
padding-right:20px;
display: flex;
margin-top: 25px;
margin: auto;
left:0;
right:0;
bottom:0;
height:10px;
width: auto;
max-width:788px;
font-size:medium;
justify-content: space-between;
z-index:2;
border-top-left-radius: 20px ;
border-top-right-radius: 20px ;
font-weight: 400;

}




#ovalbg{
width:80%;
height:120%;
display: block;
border-right: solid #846c88 15px;
border-left: solid #846c88 15px;
border-image: url("vectors/mirrorborder.svg") 30 / 25px;
background: linear-gradient(152.44deg, rgba(73, 69, 102, 0.071) 11.96%, rgba(206, 202, 238, 0.279) 39.49%, rgba(15, 10, 53, 0) 55.2%, rgba(183, 179, 220, 0.405) 61.68%, rgba(255, 255, 255, 0.118) 70.87%);
position:fixed;
top:-50px;
left:0;
right:0;
bottom:0;
z-index:-1;
margin-left:auto;
margin-right:auto;
pointer-events: none;
transition:1s;
backdrop-filter: blur(.7px);
}

@media screen and (max-width:1100px) {
#ovalbg{
box-sizing: border-box;
width:80%;
  
}
}



@media screen and (max-width:743px) {
#pagesection1, #pagesection2{
gap:0;
margin: -5px;
justify-self: center;
margin-left:5px;
}
}






.navbutton{
width: auto;
height:auto;
margin-top:-20px;
transition: .3s;
}

.navbutton:hover{
    margin-top:-25px;
    filter: saturate(150%);
}

@media screen and (max-width:800px){
.navbutton{
    width:80%;
   margin-top: 5px;
}}

@media screen and (max-width:800px) {
#banner{ 
top:-15px;

}
}

@media screen and (max-width:550px) {
#banner{
top:-25px;

}
}
@media screen and (max-width:800px) {
.contentframe{

top:-25px;
}
}
@media screen and (max-width:743px) {
.contentframe{

top:-70px;
}
}
@media screen and (max-width:550px) {
.contentframe{

top:-140px;
}
}

@font-face{
    font-family:header;
    src:url(fonts/Baloo2-ExtraBold.ttf);
}

@font-face{
    font-family:header2;
    src:url(fonts/Baloo2-Medium.ttf);
}

h1,h2,h3{
    font-family: header;
    color:#514059;
}
.links{
    color:#362c61;
    font-family: header;
    transition:.3s;
}

.links:hover{
    cursor:pointer;
    color:#141023;
}

.contactbutton{
    cursor:pointer;
    transition:.3s;
    width:100px;
    height:25px;
    display: block;
    border-radius: 5px;
    text-align: center;
}

.contactbutton:hover{
   color:#fbf7f0;
    background-color:rgba(12, 9, 0, 0.142);
}

.imagedesc{
    margin:auto;
    margin-top:20px;
    margin-bottom:30px;
    width:90%;
    text-align:center;
}

.headeroverlay{
   border: double white 6px;
    border-end-start-radius: 10px;
    border-radius:10px;
    padding:25px;
    width:auto;
    height:auto;
    margin: auto;
    color:white;
    background-color:rgba(255, 255, 255, 0.071);
    backdrop-filter: blur(10px);
    max-height:330px;
}

button{
    background: linear-gradient(360deg, #7d6781da 17.31%, #87768cc4 100%);
    width:150px;
    height:40px;
    color:#ffffff;
    display:block;
    border-radius:5px;
    border: none;
    padding:auto;
    margin:auto;
    font-family:header2;
    font-size:large;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    filter: saturate(170%);
}

iframe{
    border-radius: 10px;;
}

.caption{
    font-size:16px;
    color:#281f2c;
    font-style: italic;
    text-align:center;
}
@media screen and (max-width:920px){
.caption{
align-self: center;
justify-self: center;
display: block;
}
}

#overlay{
    width:100%;
    height:100%;
    display:block;
    margin:0;
    position:absolute;
    overflow-y: scroll;
    z-index:15;
    background-color: #150A19;
}

@media screen and (max-width:900px){
#twopictures{
flex-direction: column;
}
}


















/*lightbox CSS*/











#JMoverlay, #contactmeoverlay{
    width:100%;
    height:100%;
    background-color:#0e0c10eb;
    display:none;
    margin:0;
    position:fixed;
    z-index:15;
}

#overlaybox{
    width:auto;
    max-width:900px;
    min-width:300px;
    height:auto;
    background-color:#4E435C;
    border-radius:5px;
    margin:auto;
    position:relative;
    display:flex;
    flex-direction: column;
    padding:25px;
    background-image:url(images/sparkle_overlay3.png); 
    color:white;
    margin-bottom:100px;
    margin-top:50px;
    z-index:16;
    box-shadow: 0px 4px 10px #1a171c ;
}

#exitbutton{
    width:33px;
    height:45px;
    position:absolute;
    padding:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex:none;
    margin-top:-65px;
    display:block;
    right:0px;
    background: linear-gradient(180deg, #6a5775 0%, #4E435C 52.4%);
    transition:.3s;
    cursor:pointer;
}

#exiticon{
    width:22px;
    height:26px;
    position:relative;
    margin:auto;
    display:block;
}

#exitbutton:hover{
    margin-top:-60px;
    color:white;
}

h2{
    font-family: header;
    line-height: 0;
}



@font-face{
    font-family:header;
    src:url(fonts/Baloo2-ExtraBold.ttf);
}

@font-face{
    font-family:header2;
    src:url(fonts/Baloo2-Medium.ttf);
}

.imgcontainer{
    width:100%;
    height:100%;
    background-color:#282628;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
  
}

.lightboxdesc{
    width:auto;
    height:auto;
    background-color:#40364D;
    border-radius: 5px;
    margin-top:15px;
    padding:10px;
    padding-left:15px;
    text-align:center;
    color:white;
    -webkit-text-fill-color: white;
}

.slideshowimg{
    width:auto;
    max-width: 99%;
    height:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    flex:40%;
    display:block;
    position: relative;
    left:0;
    right:0;
    opacity:100%;
    transition: .3s;
    background-color: white;;
    box-shadow: 0px 4px 10px #1a171c ;
    cursor: pointer;
}

.slideshowimg:hover{
    opacity: 90%;
    transform: scale(1.01,1.01);
}

#left, #right{
    
    height:auto;
    width:60px;
    margin: 0;
    align-content: center;
    transition:.3s;
    cursor: pointer;
}

#left:hover, #right:hover{
    background-color:rgba(240, 248, 255, 0.06);
 
}
#left:active, #right:active{
    padding-right:1px;
    padding-left:1px;
}



.next, .prev{
    margin: auto;
    display: block;
    position: relative;
    width:20%;
    min-width: 15px;
    max-width: 20px;
  
}

#middle{
    flex:40%;
}


#morepictures{
    flex:100%;
    width:100%;
    height:80px;
    background-color:#1a191a;
    position:relative;
    bottom:0px;
    margin:0;
    display:block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.morepicscontainer{
    margin:auto;
    margin-top:10px;
    display:flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    height:60px;
    align-content:center;
}


table{
    width:90%;
    margin:auto;
    left:0;
    right:0;
    
    
}
.slidethumbnail{
    margin:auto;
    border:rgba(255, 255, 255, 0.338) solid 2px;
    text-align:center;
    border-radius:5px;   
    cursor:pointer;
    width:40px;
    height:50px;
    opacity:0%;
    transition: .3s;
    background-color:white;
   
}

.active, .slidethumbnail:hover {
  padding:1px;
}
td{
    background-color: #ffffff;
    border-radius:5px;
    opacity:70%;
    transition:.3s;
    border-left:3px #1a191a solid; 
    border-right:3px #1a191a solid;
    
    

}
td:hover{
opacity:100%;
    
}
.overlaycaption{
    transition: cubic-bezier(0.86, 0, 0.07, 1);
}

@media screen and (max-width:940px){
    #morepictures{
        display:none;
    }

}
@media screen and (max-width:660px){
    .lightboxdesc{
        font-size:.9rem;
        padding:15px
    }

}
@media screen and (max-width:660px){
    #left{
       border-bottom-left-radius: 5px;
    }

}
@media screen and (max-width:660px){
    #right{
       border-bottom-right-radius: 5px;
    }

}
















/* contact form css*/
#contactmeoverlaybox{
    width:80%;
    max-width:600px;
    min-width:400px;
    height:auto;
    background-color:#4E435C;
    border-radius:5px;
    margin:auto;
    position:relative;
    display:flex;
    flex-direction: column;
    padding:25px;
    background-image:url(images/sparkle_overlay2.png);
    color:white;
    top:70px;   
    transition:.3s ease;
    
}

.send{
   background-color:#453647;
    width:100%;
    height:40px;
    color:#ffffffd4;
    display:block;
    border-radius:5px;
    border: none;
    padding:auto;
    margin:auto;
    font-family:header2;
    font-size:large;
    transition:.3s;
    cursor:pointer;
}



.send:active{
  transform: scale(1.01,1.01);
}

h2{
    font-family: header;
    line-height: 0;
     color:white;
    -webkit-text-fill-color: white;
}


input, textarea{
    height:30px;
    border-radius:5px;
    border:none;
    padding:5px;
    display:block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    padding-left:10px;
}
#name{
    width:85%;

}
#email{
    width:95%;
  
}
#subject, #message{
     width: 97%;
}













/*expand image css*/

#expandPic{
    background-color:#0e0c10eb;
    width:100%;
    height:100%;
    margin:0;
    display:none;
    z-index:16;
    position:fixed;
  overflow-y: auto;
  justify-content: center;

}

.expandedimage{
  
    margin: auto;
    box-shadow: 0px 4px 10px #1a171c ;
    display:block;
    position:relative;
       height: 665px;
       width:auto;
    aspect-ratio: auto;
    margin-top:50px;
    transition:.3s;
 
}
@media screen and (max-width:700px) {
.expandedimage{
    height:370px;
  
}
}

.expandedcaption{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-top:15px;
    text-align: center; 
    color:white;
}
