body{
background-color:#150A19;
display:block;
margin:0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
background-image: url('images/sparkle_overlay.jpg');
background-size:contain;
transition: .5s;


}

.contentframe{
padding: 60px;
padding-bottom:25px;
background-color: #00000000;
padding-top: 0px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
left:0;
right:0;
pointer-events: none;
margin: auto;
content-visibility: auto;
position: relative;

width: auto;
min-width:304px;
max-width:788px;
pointer-events: all;


}
.contentcard{

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;
max-width:724px;
width:auto;
height:auto;
margin:auto;
margin-top:20px;
pointer-events: all;


--line-w-inner: 2px /* inner line thickness */;
	--line-w-outer: 4px /* outer line thickness */;

	border: solid 3px /* gap space between border lines */ transparent;

	box-shadow: 0 0 0 var(--line-w-outer)#846c88 /* outer border line */, 
      	inset 0 0 0 var(--line-w-inner) #846c88 /* inner border line */
}

@media screen and (max-width:780px) {
.contentcard{
width:85%;
  
}
}
.hometop{

    width: 320px;
   
    height:425px;
    max-height:425px;
    margin:auto;
    margin-top:20px;
    --line-w-inner: 2px /* inner line thickness */;
	--line-w-outer: 4px /* outer line thickness */;

	border: solid 3px /* gap space between border lines */ transparent;

	box-shadow: 0 0 0 var(--line-w-outer)#846c88 /* outer border line */, 
      	inset 0 0 0 var(--line-w-inner) #846c88 /* inner border line */
}
.homebottom{
    width:320px;
    height:130px;
    min-height:130px;
    margin:auto;
    margin-top:20px;
    --line-w-inner: 2px /* inner line thickness */;
	--line-w-outer: 4px /* outer line thickness */;

	border: solid 3px /* gap space between border lines */ transparent;

	box-shadow: 0 0 0 var(--line-w-outer)#846c88 /* outer border line */, 
      	inset 0 0 0 var(--line-w-inner) #846c88 /* inner border line */
}
  @media screen and (max-width:788px) {
.homebottom{
height:100%;
  
}
}

container{
padding: 25px;
background-color:#efebf0;
display: flex;
position: relative;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
height: auto;
width: auto;
margin: auto;
border-radius: 10px;
}


#navcontainer{
width:auto;
min-width:304px;
height:283px;
display:block;
top:0;
position:relative;
margin:0;
z-index:5;

}



#navbar{
width:auto;
max-width: 788px;

height:200px;
display:flex;

gap: 10px;
position:relative;

left:0;
right:0;
margin-left:auto;
margin-right:auto;
justify-self: center;
top:0;
transition: 1s;

}



#banner{
    position:absolute;
    display: block;
    width:40%;
    min-width:150px;
    left:0;
    right:0;
    height:150px;
    top:30px;
    margin: auto;
    z-index:8;
    transition: 1s;
    border-radius:100%;

}


#pagesection1, #pagesection2{
    min-width:150px;
    width:auto;
    margin: auto;
    display:flex;
    flex-direction: row;
    top:0;
    gap:10px;
    transition:1s;
}
.openpage{
    margin-top:20px;
}
@media screen and (max-width:650px) {
.openpage{
margin-top:auto;
  
}
}

#navframe{ 

z-index:10;
top: -19px;
left:0;
right:0;
margin-top:0px;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
position: fixed;
height: auto;
width:100%;
pointer-events: none;
transition: 1s;


}

@media screen and (max-width:720px) {
#navframe{
top:20px;


}
}
@media screen and (max-width:720px) {
#navbar{
width:70%;

}
}
#footer{
background-color:#BEB397;
color:#403642;
position:relative;
padding-top:25px;
padding-bottom:30px;
display: flex;
margin-top: 25px;
margin: auto;
left:0;
right:0;
bottom:0;
height:10px;
width: auto;
max-width:788px;
font-size:medium;
justify-content: space-between;
z-index:2;
border-top-left-radius: 20px ;
border-top-right-radius: 20px ;
font-weight: 600;
}


#doubleborder{
width:80%;
height:120%;
display: block;
border-left: solid #BEB397 30px;
border-right: solid #BEB397 30px;
background-color:rgba(0, 0, 0, 0);

position:fixed;
top:-50px;
left:0;
right:0;
bottom:0;
z-index:-1;
margin-left:auto;
margin-right:auto;
border-top-left-radius: 600px;
border-top-right-radius: 600px;
pointer-events: none;
transition:1s;
}

#ovalbg{
width:80%;
height:120%;
display: block;
border-right: solid #846c88 20px;
border-left: solid #846c88 20px;
border-image: url("vectors/mirrorborder.svg") 30 /
  30px;
background: linear-gradient(152.44deg, rgba(73, 69, 102, 0.071) 11.96%, rgba(206, 202, 238, 0.279) 39.49%, rgba(15, 10, 53, 0) 55.2%, rgba(183, 179, 220, 0.405) 61.68%, rgba(255, 255, 255, 0.118) 70.87%);

position:fixed;
top:-50px;
left:0;
right:0;
bottom:0;
z-index:-1;
margin-left:auto;
margin-right:auto;

pointer-events: none;
transition:1s;

}

@media screen and (max-width:1100px) {
#ovalbg{
box-sizing: border-box;
width:83%;
  
}
}



@media screen and (max-width:743px) {
#pagesection1, #pagesection2{
gap:0;
margin: -5px;
justify-self: center;
margin-left:5px;
}
}






.navbutton{
width: auto;
height:auto;
margin-top:-20px;
}

@media screen and (max-width:800px){
.navbutton{
    width:80%;
   margin-top: 5px;
}}

@media screen and (max-width:800px) {
#banner{ 
top:-15px;

}
}

@media screen and (max-width:550px) {
#banner{
top:-25px;

}
}
@media screen and (max-width:800px) {
.contentframe{

top:-25px;
}
}
@media screen and (max-width:743px) {
.contentframe{

top:-70px;
}
}
@media screen and (max-width:550px) {
.contentframe{

top:-140px;
}
}

@font-face{
    font-family:header;
    src:url(fonts/Baloo2-ExtraBold.ttf);
}

h1,h2,h3{
    font-family: header;
    color:#514059;
}
.links{
    color:#373737;
    font-family: header;
}
.imagedesc{
 margin:auto;
    margin-top:10px;
    margin-bottom:20px;
    width:80%;
    text-align:center;
}