body{
background-color:#26122D;
display:block;
margin:0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
background-image: url('images/sparkle_overlay.png');
background-size:contain;
transition: 1s;

}

.contentframe{
padding: 60px;
padding-bottom:25px;
background-color: #00000000;
padding-top: 0px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
left:0;
right:0;
pointer-events: none;
margin: auto;
content-visibility: auto;
position: relative;
height: auto;
width: auto;
min-width:304px;
max-width:788px;
pointer-events: all;
margin-top:-20px;
  
}
.contentcard{

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 10px;
max-width:724px;
width:auto;
height:auto;
margin:auto;
margin-top:20px;
pointer-events: all;
transition: 1s;
}




container{
padding: 25px;
background-color: white;
display: flex;
position: relative;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
height: auto;
width: auto;

margin: auto;
border-radius: 10px;
}


#navcontainer{
width:auto;
min-width:304px;
height:283px;
display:block;
top:0;
position:relative;
margin:0;
z-index:5;

}



#navbar{
width:auto;
max-width: 788px;

height:200px;
display:flex;

gap: 10px;
position:relative;
padding-left:100px;
padding-right:100px;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
justify-self: center;
top:0;
transition: 1s;

}



#banner{
    position:absolute;
    display: block;
    width:40%;
    min-width:140px;
    left:0;
    right:0;
    height:150px;
    top:30px;
    margin: auto;
    z-index:8;
    transition: 1s;
    border-radius:100%;

}


#pagesection1, #pagesection2{
    min-width:150px;
    width:auto;
    margin: auto;
    display:flex;
    flex-direction: row;
    top:0;
    gap:10px;
    transition:1s;
}


#navframe{ 

z-index:10;
top: -19px;
left:0;
right:0;
margin-top:0px;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
position: fixed;
height: auto;
width:100%;
pointer-events: none;
transition: 1s;


}


#footer{
background-color:#BEB397;
color:#5F4F63;
position:relative;
padding-top:25px;
padding-bottom:30px;
display: flex;
margin-top: 25px;
margin: auto;
left:0;
right:0;
bottom:0;
height:10px;
width: auto;
max-width:788px;
font-size:medium;
justify-content: space-between;
z-index:2;
border-top-left-radius: 20px ;
border-top-right-radius: 20px ;
font-weight: 600;
}


#doubleborder{
    width:80%;
height:120%;
display: block;
border-left: solid #BEB397 38px;
border-right: solid #BEB397 38px;
background-color:rgba(0, 0, 0, 0);

position:fixed;
top:-50px;
left:0;
right:0;
bottom:0;
z-index:-1;
margin-left:auto;
margin-right:auto;
border-top-left-radius: 600px;
border-top-right-radius: 600px;
pointer-events: none;
}
#ovalbg{
width:80%;
height:120%;
display: block;
border-right: groove #846c88 35px;
border-left: ridge #846c88 35px;

background: linear-gradient(152.44deg, rgba(73, 69, 102, 0) 11.96%, rgba(199, 195, 235, 0.63) 39.49%, rgba(15, 10, 53, 0) 55.2%, rgba(183, 179, 220, 0.575325) 61.68%, rgba(255, 255, 255, 0.118) 70.87%);
backdrop-filter: blur(2px);
position:fixed;
top:-50px;
left:0;
right:0;
bottom:0;
z-index:-1;
margin-left:auto;
margin-right:auto;
border-top-left-radius: 600px;
border-top-right-radius: 600px;
pointer-events: none;


}

@media screen and (max-width:1100px) {
#ovalbg,#doubleborder{
box-sizing: border-box;
width:100%;
  
}
}



@media screen and (max-width:743px) {
#pagesection1, #pagesection2{
gap:0;
margin: -5px;
justify-self: center;
}
}






.navbutton{
width: auto;
height:auto;
margin-top:-20px;
}

@media screen and (max-width:800px){
.navbutton{
    width:80%;
   margin-top: 5px;
}}

@media screen and (max-width:800px) {
#banner{
top:-20px;
  
}
}
@font-face{
    font-family:header;
    src:url(fonts/CherrySwash-Bold.ttf);
}

h1{
    font-family: header;
    color:#5D4966;
}