#pagenav{
    position:fixed;
    z-index:11;
    width:10%;
    height:50%;
    display:flex;
    flex-direction: column;
    margin-left:9px;
    left:-10px;
    top:50%;
}
.pagenavbuttons{
    position:relative;
    width:80%;
    height:10%;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    background-color:#755f7f;
    border: solid 2px #D7CDB7; 
    display:block;
    border-bottom-right-radius: 40px;
     border-top-right-radius: 40px;
     padding:5px;
    padding-right:10px;
    transition: .3s;
    color:white;
    font-family: header2; 
    cursor:pointer;
    align-content: center;
}

.active, .pagenavbuttons:hover{
       padding-right:10px;
    background-color: #D7CDB7;
    width: 110%;
        height:11%;
}